<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="layoutBase :: head"></th:block>
	</head>
	<body>
		
		<div class="container-fluid">
			<div class="row">
				<header>
					<div th:replace="layoutBase :: cabecalho"></div>
				</header>
				<div th:replace="layoutBase :: navbar"></div>
				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
					<form action="" method="post">
					  <h3>Cadastrar Atendimentos</h3>
					  <div class="form-group">
					    <label for="formGroupExampleInput">Número do atendimento</label>
					    <input type="text" class="form-control" id="numero" aria-describedby="numeroHelp" placeholder="Insira o número do atendimento" pattern="[0-9]{8}" required>
						<small id="numeroHelp" class="form-text text-muted">Insira o número do atendimento que deseja criar (8 dígitos)</small>

					  </div>
					  <div class="form-group">
					    <label for="data">Data inicial</label>
					    <input type="date" class="form-control" id="dataInicial" placeholder="Data inicial">
					  </div>
					  <div class="form-group">
					    <label for="data">Data final</label>
					    <input type="date" class="form-control" id="dataFinal" placeholder="Data final">
					    
					  </div>
					  	<p>
					  	<p>
  						<button type="submit" class="btn btn-primary">Enviar</button>
					</form>
					
				</main>
			</div>
		</div>
		
		<div th:replace="layoutBase :: templates"></div>
	</body>
</html>