<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="layoutBase :: head"></th:block>
	</head>
	<body>
		
		<div class="container-fluid">
			<div class="row">
				<header>
					<div th:replace="layoutBase :: cabecalho"></div>
				</header>
				
				<main >
					<h1>Menu de Atendimentos</h1>
					<div class="btn-group">
	    				
	    				
	    				<a href="atendimentos/consultaratendimento" class="btn btn-outline-primary">Consultar Atendimento</a>
	    				
					</div>
					<button class="btn btn-success">
	  					<i class="fas fa-plus"></i> Cadastrar atendimento
					</button>
				</main>
			</div>
		</div>
		
		<div th:replace="layoutBase :: templates"></div>
	</body>
</html>