<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="layoutBase :: head"></th:block>
	</head>
	<body>
		
		<div class="container-fluid">
			<div class="row">
				<header>
					<div th:replace="layoutBase :: cabecalho"></div>
				</header>
				
				<main class="container-fluid">
					<div th:if="${param.error}">
			            Invalid username and password.
			        </div>
			        <div th:if="${param.logout}">
			            You have been logged out.
			        </div>
			        <form class="row g-3" th:action="@{/login}" method="post">
			        	<p>
			            <div class="col-auto"><label> Usuário : <input type="text" name="username"/> </label></div>
			            <div class="col-auto"><label> Senha : <input type="password" name="password"/> </label></div>
			            <div class="col-auto"><input class="btn btn-primary btn-sm" type="submit" value="Entrar"/></div>
			        </form>

				</main>
			</div>
		</div>
		
		<div th:replace="layoutBase :: templates"></div>
	</body>
</html>